<mat-card class="card">
  <div class="container">
    <mat-card-title>Grid consumption</mat-card-title>
    <div class="button_group_container">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >settings</mat-icon
      >
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >open_in_full</mat-icon
      >
    </div>
  </div>
  <mat-card-content>
    <app-product-bar-charts></app-product-bar-charts>
  </mat-card-content>

  <mat-card-footer> </mat-card-footer>
</mat-card>
