<mat-toolbar class="toolbar">
  <div>DOMODash</div>
  <div class="menu-items">
    <mat-icon aria-hidden="false" aria-label="Home">home</mat-icon>
    <mat-icon aria-hidden="false" aria-label="energy">bolt</mat-icon>
    <mat-icon aria-hidden="false" aria-label="water">opacity</mat-icon>
    <mat-icon aria-hidden="false" aria-label="food">grass</mat-icon>
    <mat-icon aria-hidden="false" aria-label="plotter">query_stats</mat-icon>
  </div>
  <mat-slide-toggle>DARK MODE</mat-slide-toggle>
  <span class="time">{{time}}</span>
  <mat-icon aria-hidden="false" aria-label="settings">settings</mat-icon>
</mat-toolbar>
