.toolbar {
  height: 40px;
  background-color : #484f57;
  color: white;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.time {
  color : grey;
}

.mat-icon {
  margin-left: 10px;
}